<ng-include src="'scripts/app/application/common/bandeauusager.html'"></ng-include>

<div>

	<h6 class="margin-left-30">Vous &ecirc;tes ici&nbsp;:&nbsp;<a href="#/">Accueil</a>&nbsp;>&nbsp;<a href="#/">Mes d&eacute;marches</a>&nbsp;>&nbsp; D&eacute;claration de mon arriv&eacute;e</h6>
	<br/>
	
	<div class="col-md-10 col-md-offset-1">	

    	<steps-menu stepnumber="5"></steps-menu>
    
	    <div class="row">
	    
	    	<div class="title-main title-underline">
				<h4 translate="enregistrer.title">start</h4>
			</div>
	    
			<form class="form-horizontal">
	    
		   		<!-- <div class="row">
					<div class="col-md-12">
						<div class="title-main title-underline">
							<h4 translate="enregistrer.title">start</h4>
						</div>
					</div>
				</div>
				<br> -->
				
				<div class="row">
	
					<div class="col-md-1">
	    				<img src="save-file.png" class="img-responsive" alt="ImageSaveFile" width="80" height="80">
	    			</div>
					<div class="col-md-8">
						<span>Votre enregistrement est maintenant termin&eacute;e.</span><br/> 
						<span>Nous vous invitons &agrave; t&eacute;l&eacute;charger votre attestation d'enregistrement VLS-TS.</span><br/>
						<span>Vous pouvez &eacute;galement y acc&eacute;der dans votre espace personnel <a href="#/mesdocuments">"Mes documents".</a></span><br/>
						<br/><br/>  
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4 col-md-offset-5">
						<!-- <button type="submit" class="btn btn-primary" ng-click="save()">Telecharger votre attestation</button> -->
						<button type="submit" class="btn btn-primary" ng-click="save()">
							<a style="color: white;" href="ANEF-VLS-TS-Confirmation_Kim_Soon-jeen.pdf" download="Attestation de VLS-TS">T&eacute;l&eacute;charger votre confirmation</a>
						</button>
					</div>
				</div>
				
				<br/><br/><br/><br/> 
				<div class="row">
					<span>Etes-vous satisfait de la d&eacute;marche de d&eacute;claration d'arriv&eacute;e en France en ligne?</span>&nbsp;&nbsp;&nbsp;
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
					<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 
				</div>
			</form>
		</div> 
	</div> 
</div>



