<div>

	<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vous &ecirc;tes ici&nbsp;:&nbsp;<a href=#/">Accueil</a>&nbsp;>&nbsp;<a href="#/">Mes d&eacute;marches</a>&nbsp;>&nbsp; D&eacute;claration de mon arriv&eacute;e</h6>
	<br/>
	
    <div class="col-md-10 col-md-offset-1">	

	    <steps-menu stepnumber="3"></steps-menu>
	    
	    <div class="row">
	    
	    	<div class="title-main title-underline">
				<h4 translate="address.title">start</h4>
			</div>
	    
			<form class="form-horizontal" role="form" id="addressForm" ng-submit="save()" show-validation>
				
				<span>V&eacute;rifiez ou modifiez vos coordonn&eacute;es en France.</span><br/>
				
				<em><h6 class="text-underline">* : champs obligatoire</h6></em>
			
				<div class="row">
					<div class="col-md-2">
						<h6><label for="owner" translate="address.form.owner">owner</label></h6>
					</div>
					<div class="col-md-4">
						<input
							type="text" class="form-control" id="owner"
							placeholder="{{'address.form.owner.placeholder' | translate}}"
							ng-model="owner">
					</div>
					
					<div class="col-md-2 col-md-offset-1">
						<h6><label for="phone" translate="address.form.phone">phone</label></h6>
					</div>
					<div class="col-md-2">
						<input
							type="text" class="form-control" id="phone" name="phone"
							placeholder="{{'address.form.phone.placeholder' | translate}}"
							ng-model="address.phone" required>
					</div>
					
				</div>
				<br/>
				
				<div class="row">
					<div class="col-md-2">
						<h6><label for="number" translate="address.form.number">number</label><h6>
					</div>
					<div class="col-md-2">
						<input
							type="text" class="form-control" id="number"
							placeholder="{{'address.form.number.placeholder' | translate}}"
							ng-model="address.number" required>
					</div>
					<div class="col-md-2 col-md-offset-3">
						<h6><label for="email" translate="address.form.email" class="control-label">email</label></h6>
					</div>
					<div class="col-md-3">
						<input
							type="text" class="form-control" id="email"
							placeholder="{{'address.form.email.placeholder' | translate}}"
							ng-model="address.email" required>
					</div>
				</div>
				<br/>
				
				<div class="row">
					<div class="col-md-2">
						<h6><label for="street" translate="address.form.street">street</label></h6>
					</div>
					<div class="col-md-4">
						<input
							type="text" class="form-control" id="street"
							placeholder="{{'address.form.street.placeholder' | translate}}"
							ng-model="address.street" required>
					</div>
				</div>
				<br/>
				
				<div class="row">
					<div class="col-md-2">
						<h6><label for="complement" translate="address.form.complement">complement</label></h6>
					</div>
					<div class="col-md-3">
						<input
							type="text" class="form-control" id="complement"
							placeholder="{{'address.form.complement.placeholder' | translate}}"
							ng-model="complement">
					</div>
				</div>
				<br/>
				
				<div class="row">
					<div class="col-md-2">
						<h6><label for="postalCode" translate="address.form.postalCode" >postalCode</label></h6>
					</div>
					<div class="col-md-2">
						<input
							type="text" class="form-control" id="postalCode"
							placeholder="{{'address.form.postalCode.placeholder' | translate}}"
							ng-model="address.postalCode" required>
					</div>
				</div>
				<br/>
				
				<div class="row">
					<div class="col-md-2">
						<h6><label for="postalCode" translate="address.form.city">city</label></h6>
					</div>
					<div class="col-md-3">
						<input
							type="text" class="form-control" id="city"
							placeholder="{{'address.form.city.placeholder' | translate}}"
							ng-model="address.city" required>
					</div>
				</div>
				<br/>
				
				<div class="row">
					<div class="col-md-2">
						<h6><label translate="address.form.country">country</label></h6>
					</div>
					<div class="col-md-2">
						<h6><label>France</label></h6>
					</div>
				</div>
				
				<br/><br/> 
				<div class="row">
					<div class="col-md-2">	
						<button type="button" class="btn btn-default" translate="address.form.button.cancel" ng-click="cancel()">Cancel</button>
					</div>
					<div class="col-md-1 col-md-offset-9">
						<button type="submit" class="btn btn-primary" translate="address.form.button.validate">Validate</button>
					</div>
				</div>
			</form>
		</div>
	</div> 
</div>
