<div>

	<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vous &ecirc;tes ici&nbsp;:&nbsp;<a href="#/">Accueil</a>&nbsp;>&nbsp;<a href="#/">Mes d&eacute;marches</a>&nbsp;>&nbsp; D&eacute;claration de mon arriv&eacute;e</h6>
	<br/>
	
	<div class="col-md-10 col-md-offset-1">	

    	<steps-menu stepnumber="2"></steps-menu>
    
	    <div class="row">
	    
			<div class="title-main title-underline">
				<h4 translate="identity.title">title</h4>
			</div>
			
			<form class="form-horizontal">
			
				<span>V&eacute;rifiez vos informations d'&eacute;tat civil. En cas d'erreur, contactez l'<a href="http://ofii.fr" target="_blank">OFII</a>.</span><br/><br/>
				
				<div class="row">
					<div class="col-md-2">
						<h6><label translate="identity.form.lastName">lastname</label></h6>
					</div>
					<div class="col-md-3">
						<h6><label>{{identity.lastname}}</label></h6>
					</div>
					<div class="col-md-2">
						<h6><label translate="identity.form.birthDate">birthdate</label></h6>
					</div>
					<div class="col-md-3">
						<h6><label>{{identity.birthDate}}</label></h6>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2">
						<h6><label translate="Nom d'usage">usage</label></h6>
					</div>
					<div class="col-md-3">
						<h6><label>-</label></h6>
					</div>
					<div class="col-md-2">
						<h6><label translate="identity.form.birthCity">birthcity</label></h6>
					</div>
					<div class="col-md-3">
						<h6><label>{{identity.birthCity}}</label></h6>
					</div>
					
				</div>
						
				<div class="row">
					<div class="col-md-2">
						<h6><label translate="identity.form.firstName">firstname</label></h6>
					</div>
					<div class="col-md-3">
						<h6><label>{{identity.firstName}}</label></h6>
					</div>
					<div class="col-md-2">
						<h6><label translate="identity.form.birthCountry">birthCountry</label></h6>
					</div>
					<div class="col-md-3">
						<h6><label>{{identity.birthCountry}}</label></h6>
					</div>
				</div>
						
				<div class="row">
					<div class="col-md-2">
						<h6><label translate="identity.form.sex">sex</label></h6>
					</div>
					<div class="col-md-3">
						<h6><label>{{identity.sexe}}</label></h6>
					</div>
				</div>
				
				<div class="row">
				<div class="col-md-2">
						<h6><label translate="identity.form.maritalStatus">maritalStatus</label></h6>
					</div>
					<div class="col-md-3">
						<h6><label>{{identity.maritalStatus}}</label></h6>
					</div>
					<div class="col-md-2">
						<h6><label translate="identity.form.nationality">nationality</label></h6>
					</div>
					<div class="col-md-3">
						<h6><label>{{identity.nationality}}</label></h6>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2 col-md-offset-5">
						<h6><label translate="identity.form.passportNumber">passportNumber</label></h6>
					</div>
					<div class="col-md-3">
						<h6><label>{{identity.passportNumber}}</label></h6>
					</div>
				</div>
				
				<br/><br/>
				<div class="row">
					<div class="col-md-2">	
						<button type="button" class="btn btn-default" translate="identity.form.button.cancel" ng-click="cancel()">Cancel</button>
					</div>
					<div class="col-md-1 col-md-offset-9">
						<button type="submit" class="btn btn-primary" translate="identity.form.button.validate" ng-click="save()">Validate</button>
					</div>
				</div>				
			</form>
		</div>
	</div> 
</div>



